{% extends 'base.html' %}

{% load static %}

{%block title%}
Details
{% endblock%}


{% block content %}
{% block description %}Customer Details{% endblock %}

                        <div class="card mb-4">
                            <div class="card-body">
                                <ul class="a">
   <div class="row">
    <div class="card bg-light" style="width: 30rem;" >
      <div class="card-body">
        <h5 class="card-title">Name : {{ customer.name }}</h5>
          <p class="card-text">Address : <a href="{{ customer.gps }}"> {{ customer.address }}</a> <br></p>
          <h6 class="card-subtitle mb-2 text-muted">Phone :  {{ customer.phone }}</a></h6>
          <p class="card-text">Splitter : <a href="{{ customer.splitter32}}"> {{ customer.splitter32 }}</a> <br></p>
          <p class="card-text">Customers on splitter : <a href="{% url 'customers_on_splitter' %}">List of customers</a> <br></p>
          <p class="card-text">ONT Number: <a href="#">{{ customer.ont }}</a> </p>
      </div>
    </div>
   </div>
    <hr>
</ul>
                            </div>
                        </div>

{% endblock %}
