{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="/static/styles/main.css" />
<style>
	.form-row {
	width:60%;
	}

    body {
    background-image:url('{% static 'images/cool.jpg' %}');

    }
</style>

<center>



</center>

<h3>Add Splitter</h3>


<!-- Form -->



	<form class="form-row" method="POST" action="{% url 'add_splitter' %}">
		{% csrf_token %}
		<div class="row uniform">

			<div class="12u$">
				<div class="select-wrapper">
					<select name="location" id="location">
						<option value="">- Splitter Location -</option>
						<option value="kabulonga">Kabulonga</option>
						<option value="woodlands">Woodlands</option>
						<option value="rhodes_park">Rhodes Park</option>
						<option value="new_kasama">New Kasama</option>
					</select>
				</div>
			</div>

			<div class="12u$">
				<div class="select-wrapper">
					<select name="sid" id="sid">
						<option value="">- Splitter ID -</option>
						<option value="kab1">Kab 1</option>
						<option value="kab2">Kab 2</option>
						<option value="kab3">Kab 3</option>
						<option value="kab4">Kab 4</option>
					</select>
				</div>
			</div>

			<div class="12u$">
				<div class="select-wrapper">
					<select name="olt" id="olt">
						<option value="">- OLT -</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
			</div>

			<div class="12u$">
				<div class="select-wrapper">
					<select name="port" id="port">
						<option value="">- Port Number -</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
			</div>

			<div class="12u$">
				<div class="select-wrapper">
					<select name="noc" id="noc">
						<option value="">- Number of Customers -</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
			</div>


			<div class="6u 12u$(xsmall)">
				<input type="text" name="landmark" id="landmark" value="" placeholder="Landmark" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="text" name="gps" id="gps" value="" placeholder="GPS Coordinates" />
			</div>
			<div class="6u 12u$(xsmall)">
				<input type="text" name="customers" id="customers" value="" placeholder="Customers" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="text" name="usage" id="usage" value="" placeholder="Usage" />
			</div>
			<div class="6u 12u$(xsmall)">
				<input type="text" name="disttoolt" id="disttoolt" value="" placeholder="Distance to OLT" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="text" name="opl" id="opl" value="" placeholder="Optical Power Levels" />
			</div>
			<!-- Break -->

			<!-- Break -->

			<!-- Break -->
			<div class="12u$">
				<textarea name="notes" id="notes" placeholder="Notes..." rows="6"></textarea>
			</div>
			<!-- Break -->
			<div class="12u$">
				<ul class="actions">
					<li><input type="submit" value="submit" /></li>
					<li><input type="reset" value="Reset" class="alt bg-primary" /></li>
				</ul>
			</div>
		</div>
	</form>

	<hr />
{% endblock %}