{% extends 'base.html' %}

{% load static %}

{%block title%}
Organic Network
{% endblock%}


{% block content %}
{% block description %}Splitter Details{% endblock %}

                        <div class="card mb-4">
                            <div class="card-body">
                                <ul class="a">
   <div class="row">
    <div class="card bg-light" style="width: 30rem;" >
      <div class="card-body">
        <h5 class="card-title">Node ID : {{ category.name }}</h5>
          <p class="card-text">Description : {{ category.status }} <br></p>
          <h6 class="card-subtitle mb-2 text-muted">landmark :  {{ category.location }}<a href="https://www.google.com/maps/place/Regus+-+Lusaka,+Rhodes+Park/@-15.4139177,28.3036706,19.25z/data=!4m12!1m6!3m5!1s0x19408cabcced5a07:0xfabef7734ef01762!2sRegus+-+Lusaka,+Rhodes+Park!8m2!3d-15.4142039!4d28.3036058!3m4!1s0x19408cabcced5a07:0xfabef7734ef01762!8m2!3d-15.4142039!4d28.3036058">{{ customer.address }}</a></h6>
          <p class="card-text">Address : <a href="{{ category.gps }}">{{ category.status }}</a> <br></p>
          <p class="card-text">Power levels :  <br></p>
          <p class="card-text">2 Way Splitter :  <br></p>
          <p class="card-text">Distance to 2 Way Splitter :  <br></p>
          <p class="card-text">Customers on splitter :  <br></p>
          <p class="card-text">GPS : <a href="{{ category.gps }}">location</a>  </p>
      </div>
    </div>
   </div>
    <hr>
</ul>
                            </div>
                        </div>

{% endblock %}
