{% extends 'base.html' %}

{% load static %}

{%block title%}
Organic Network
{% endblock%}


{% block content %}
{% block description %}Organic Network{% endblock %}

                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                    Here, we'll handle the Organic Network,
                                    <code>.sb-nav-fixed</code>
                                    which is simpler.
                                    <code>body</code>
                                    It'll be done at a later stage.
                                </p>
                            </div>
                        </div>

                         <div class="card mb-4">
                            <div class="card-body">

                                {% load mptt_tags %}
                                    <ul>
                                        {% recursetree customer %}
                                            <li>
                                                {{ node.name }}
                                                    {% if not node.is_leaf_node %}
                                                        <ul class="children">

                                                            {{ children }}

                                                        </ul>
                                                    {% endif %}
                                            </li>
                                        {% endrecursetree %}
                                    </ul>

                            </div>
                        </div>

{% endblock %}
